body {
    background-color: #FFEDDE !important;

  }
.slider img{
    width: 90%;
}
.head-floor{
    background-color: #FFF5EC !important;
}
.banner h1{
    /* font-size: 80px;     */
    margin-bottom: -40px !important;
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    text-transform: capitalize;
    color: #2E266F;
    opacity: 0.05;
}
.banner h3{
    /* margin-bottom: -40px !important; */
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    text-transform: capitalize;

    color: #2E266F;


}
.head{
    background-size: 364px !important;
}
.location{
    height: 65px;
    width: 280px;
    background: #35CD8C;
    border-radius: 0px 100px 100px 0px;
    
    display: flex;
    align-items: center;
    justify-content: center;

}
.location h5{
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-transform: capitalize;

    color: #FFFFFF;


}
.search-bar{
    width: 427px;
    height: 58px;
    border: 2px solid black;
    background-color: white;
}
#search-field{
    width: 270px;
    height: 54px;
    border: 0;
}
input:focus, #search-btn:focus {
   outline: none;
    
}
#search-btn{
    /* position: absolute;
    left: 390px; */
    width: 145px;
    height: 50px;
    border-radius: 60px 0px 0px 0px;
    background: #FE043C;
}
.middle h3{
    margin-top: 35px;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #2E266F;
    border-left: 10px solid orange;
    margin-left: 40px;
    padding: 0;
    width: fit-content;
}
.middle p{
  margin: 40px;
}
/* .banner{
    margin-left: 20px;
} */

@media only screen and (max-device-width : 1024px) {
    .middle p{
        margin: 40px;

      }
    .middle h3{
        margin: 40px;
        font-size: 33px;
      }
}



/* Tablet and phone*/
@media only screen and (max-device-width : 769px) {
    .banner h1{
        font-size: 121px !important;
        margin-bottom: 0px !important;
        opacity: 1;
    }
    .banner h3{
        font-size: 29px !important;
    }
    .head{
        background-size: 335px !important;
    }
    .search-bar{
        width: 309px;

    }
    #search-btn{
        width: 90px;
   
    }
    #search-field{
        width: 208px;
    }
    .middle h3{
        margin: 40px;
        font-size: 21px;
      }
}
@media only screen and (max-device-width : 425px) {
    .head{
        background-size: 121px 100% !important;
    }
    .middle p{
        margin: 0;
        text-align: center;
      }
    .middle h3{
        margin: 5px;

        font-size: 48px;
      }
}
@media only screen and (max-device-width : 320px) {
    .search-bar{
        width: 250px;

    }
    #search-btn{
        width: 90px;
   
    }
    #search-field{
        width: 149px;
    }
    body{
        background-size: 121px 100% !important;
    }
    .banner h1{
        font-size: 100px !important;
        
    }
}
